<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="feed_heading"> Momentum </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div *ngIf=" !empty ">
        <h3>Your Accounts</h3>

        <ion-card *ngFor="let account of myAccounts" class="card-class">
            <ion-card-header>
                <ion-card-subtitle> Balance {{ account?.account_balance | currency:'R ':'symbol' }} </ion-card-subtitle>
                <ion-card-title>
                    {{ (account?.account_type == 'credit') ? 'Credit' : (account?.account_type == 'loan' ) ? 'Loan' : 'Cheque' }}
                    Account
                </ion-card-title>
            </ion-card-header>

            <ion-card-content>

                <p>&nbsp;</p>
                <ion-grid class="ion-no-margin ion-no-padding">
                    <ion-row>
                        <ion-col>
                            <ion-button size="small" color="danger" (click)="withdrawFromAccount()">
                                Withdraw
                            </ion-button>
                        </ion-col>

                        <ion-col>
                            <ion-button size="small" color="primary" (click)="depositToAccount()">
                                Deposit
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </div>


    <div *ngIf=" empty ">
        <h3> No Accounts Yet</h3>
    </div>

    <!--add New Account-->

    <ion-card>
        <ion-card-content>
            <ion-button size="small" color="dark" expand="full" (click)="presentAddAccount()">
                Add New Account
            </ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>
