
<ion-content class="ion-padding">
    <p style="font-size: 10pt;">
        Made with <ion-icon name="heart-outline"></ion-icon> by <a href="http://acedesigns.co.za" target="_blank"> Anele </a>
        for
        <a href="http://www.kasitakeout.co.za/" rel="follow" target="_blank">{{ appName }}</a>
    </p>
</ion-content>

<ion-footer >
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button size="small" color="danger"  (click)="closePopUp()">
                        <ion-icon slot="start" name="close-circle"></ion-icon>
                        &nbsp;
                        Close
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
